.bird {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    display: block;
    position: absolute;
}
.black{
    background-color: #000;
}
.red{
    background-color: #f00;
}
#sky{
    width: 800px;
    height: 600px;
    background: #eee;
    display: inline-block;
}
.insert{
    display: inline-block;
    position: absolute ;
}

canvas{
    background: #eee;
    display: inline-block;
}
