<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
    <title>FlockStream Visualizer</title>
    <link type='text/css' rel='stylesheet' href='/static/style/style.css'></link>
    <script src='/static/js/jquery-2.0.0.min.js'></script>
    <script src='/static/js/underscore-min.js'></script>
    <script src='/static/js/flocklib.js'></script>
    <script src='/static/js/ourcode.js'></script>
	<meta name="description" content="Flockstream implementation">
	<meta name="author" content=":P">

</head>
